<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App Dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A2E92911F32DB3700259EA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A2E92A81F32DB3800259EA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A2E92B31F32DB3800259EA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A2E92C61F32DB4000259EA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
